.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main-info{
    display: flex;
    justify-content: center;
    border-bottom: solid blue;
    justify-content: flex-end;
}
/* .user-list{
    border-right: dotted blue;
    padding: 3%;
    justify-content: left;
    display: none;
} */
.mid{
    display: flex;
    flex-direction: row;
}
.message-input{
    display: flex;
    justify-content: center;
    margin: 0.5em;
}
.user-list{
    position: absolute;
    margin:auto;
    padding: 3em;
    background-color: white;
    z-index: 99;
    right:0;
    top:5em;
}
.smoke-screen{
    background-color: rgba(67, 67, 67,.33);
    position: absolute;
    width:100%;
    height: 110%;
}
.user-btn{
    border-radius: 10px;
    height: fit-content;
    padding: 0.3em;
    justify-self:baseline;
    margin-left: 1em;
}