<main class="container" [ngClass]="{smokeScreen: 'container.smoke-screen'}">
    <!-- <div class="smoke-screen" (click)="view()" [ngStyle]="{'visibility': (smokeScreen) ? 'visible' : 'hidden'}"></div> -->
        <section class="main-info">
            <h2>{{ room }}</h2><button (click)="view()" class="user-btn">Members</button>
            <div class="user-list" [ngStyle]="{'visibility': (usersView) ? 'visible' : 'hidden'}">
                <h3 *ngFor="let user of userList">{{ user }}</h3>
            </div>
        </section>
        <div class="mid">
            <app-messages [style.scrollHeight]="scrollHeight" [messageList]="messageList"></app-messages>
        </div>
        <div class="message-input">
            <input type="text" [(ngModel)]="message">
            <button (click)="sendMessage()">Send</button>
        </div>
</main>
