.message-box{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 22.3em;
    max-width: 22.3;
    height: 32em;
    overflow-x: hidden;
}
.message-box > .message{
    padding:0.8em;
}
.message-box> .my{
    padding-right: 0;
}
.message{

    background-color: rgba(0, 0, 0, 0.1);
    box-sizing: content-box;
    border-radius: 10px;
    margin:0.3em;
    padding-bottom: 0;
    margin-left:1em;
    max-width: fit-content;
}
.message > div{
    max-width: %;
    min-width: 80%;
    display: flex;
    justify-content: flex-start;
    margin-top: 0.2em;
}
.time-stamp{
    font-size: x-small;
    margin: 0;
    margin-top: 0.2em;
    color:grey;
}

.my > div > .time-stamp{
    color:whitesmoke;
}
.my > div{
    justify-content: flex-end;
}
.time-div{
    justify-content: center;
}
.message-box > .my{
    margin-left: none;
    margin-right:1em;
    background-color: rgba(0, 106, 255, 0.717);
    align-self: flex-end;
    color: white;
}
.message-box > .bot {
    display: flex;
    justify-content:flex-start;
    background-color: rgba(0,0,0,0);
    color:grey;
    min-width: 14em;
    border-radius: 0;
    padding: 0;
}
.bot > p{
    min-width: 20em;
    inline-size: 20em;
    text-align: center;
    font-size: small;
}
.bot > p span:after{
    visibility: hidden;
}
.message > p span:after{
    content:': ';
}

.message:not(.bot){
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    inline-size: 10em;
    box-sizing: content-box;
    margin: 0.3em;
    white-space: initial;
    max-width: fit-content;
    max-height: fit-content;
    padding-top:0;
    padding-bottom: 0;
}
.bot{
    margin: auto;
    margin-top: 0;
    margin-bottom: 0.2em;
}
.message > p {
    overflow-wrap: break-word;
    display: inline-block;
    /* max-width: 22em; */
    max-width: 10em;
    /* inline-size: 22em; */
    margin: 0.1em;
    max-height: fit-content;
}
.message > p span:after{
    content: ":";
}
.message > p span{
    color: black;
    font-weight: 600;
}
.message-box > .my p span{
    color: white;
}
